In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
movies.shape

(4803, 20)

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
movies = movies.merge(credits, on='title')

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.shape

(4809, 23)

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [12]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
movies.duplicated().sum()

0

In [17]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [19]:
import ast

In [20]:
# the text would be in list of dictoionaries, so we want them to be
# like ['Action', 'Adventure']
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [21]:
movies['genres'] = movies['genres'].apply(convert)
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [22]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
# movies['cast'][0]

In [24]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [25]:
movies['cast'].apply(convert3)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [26]:
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
# movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [28]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [29]:
# movies['crew'][0]

In [30]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [31]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [32]:
# movies['overview'] = movies['overview'].apply(lambda x:x.split())
# movies.head(5)

In [33]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [34]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [35]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]

In [36]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [37]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [38]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [39]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [71]:
row = new[new['title'] == 'Batman Begins']
row['movie_id']

119    272
Name: movie_id, dtype: int64

In [40]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [41]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [42]:
stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d'

In [43]:
# new['tags'] = new['tags'].apply(stem)

In [44]:
new['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [46]:
vector = cv.fit_transform(new['tags']).toarray()

In [47]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [48]:
cv.get_feature_names()

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1944',
 '1950',
 '1950s',
 '1960s',
 '1970s',
 '1971',
 '1974',
 '1976',
 '1980',
 '1980s',
 '1985',
 '1990s',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 'aaron',
 'aaroneckhart',
 'abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abuse',
 'abusive',
 'academic',
 'academy',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adamsandler',
 'adamshankman',
 'adaptation',
 'adapted',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adopt',
 'adopted',
 'adoption',
 'adopts',
 'adrienbrody',
 'adult',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affection',
 'affections',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agedifference',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aided',
 'aids',
 'ailing',
 'air',
 'airplane',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alex',
 'alfredhitchcock',
 'ali',
 'alice',
 'alien',
 'alieninvasion',
 'alienlife',
 'aliens',
 'alike',
 'alive',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allow',
 'allows',
 'ally',
 'alongside',
 'alpacino',
 'alter',
 'alternate',
 'alternative',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfried',
 'amateur',
 'amazing',
 'ambassador',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americanfootball',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amusementpark',
 'amy',
 'amyadams',
 'amysmart',
 'analyst',
 'anarchiccomedy',
 'ancient',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrew',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angels',
 'anger',
 'anglee',
 'angry',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animated',
 'animation',
 'ann',
 'anna',
 'annabelle',
 'annafaris',
 'annakendrick',
 'anne',
 'annehathaway',
 'annemoss',
 'annettebening',
 'annie',
 'anniversary',
 'announces',
 'annual',
 'anonymity',
 'anonymous',
 'answer',
 'answers',
 'ant',
 'antarctic',
 'anthology',
 'anthony',
 'anthonyanderson',
 'anthonyhopkins',
 'anthonymackie',
 'anthropomorphism',
 'anti',
 'antics',
 'antihero',
 'antoinefuqua',
 'antoniobanderas',
 'antonyelchin',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apparent',
 'apparently',
 'appear',
 'appears',
 'apple',
 'appointed',
 'apprentice',
 'approach',
 'approaches',
 'approaching',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeology',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'armed',
 'arms',
 'army',
 'arnold',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrangement',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'arriving',
 'arrogant',
 'art',
 'arthur',
 'artificialintelligence',
 'artist',
 'artistic',
 'artists',
 'arts',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'asia',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'atheist',
 'athlete',
 'atlantic',
 'atomicbomb',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempting',
 'attempts',
 'attending',
 'attends',
 'attention',
 'attic',
 'attitude',
 'attorney',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'avenge',
 'average',
 'avoid',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'ax',
 'babe',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backgrounds',
 'bad',
 'bag',
 'bahamas',
 'bail',
 'balance',
 'ball',
 'ballet',
 'baltimore',
 'band',
 'bandits',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barely',
 'bargained',
 'barn',
 'barney',
 'barry',
 'barrylevinson',
 'barrysonnenfeld',
 'bars',
 'base',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'bay',
 'beach',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becky',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'beloved',
 'ben',
 'benaffleck',
 'beneath',
 'benfoster',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstiller',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'bettemidler',
 'better',
 'betty',
 'beverly',
 'bible',
 'big',
 'bigger',
 'biggest',
 'biker',
 'bikini',
 'billhader',
 'billionaire',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycrudup',
 'billycrystal',
 'biography',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackmagic',
 'blackmail',
 'blackpeople',
 'blade',
 'blame',
 'blind',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloodsplatter',
 'bloodthirsty',
 'bloody',
 'blow',
 'blue',
 'board',
 'boarding',
 'boardingschool',
 'boat',
 'bob',
 'bobby',
 'bobbyfarrelly',
 'bobhoskins',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'book',
 'books',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'botched',
 'bound',
 'boundaries',
 'bounty',
 'bountyhunter',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'bradleycooper',
 'bradpitt',
 'brain',
 'brand',
 'brandon',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breaks',
 'breast',
 'brendanfraser',
 'brendangleeson',
 'brent',
 'brettratner',
 'brian',
 'briandepalma',
 'bride',
 'bridge',
 'brief',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'brittanymurphy',
 'broadway',
 'broke',
 'broken',
 'broker',
 'brooklyn',
 'brooks',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryansinger',
 'buck',
 'buddies',
 'buddy',
 'buddycomedy',
 'budget',
 'build',
 'building',
 'built',
 'bully',
 'bullying',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'bus',
 'bush',
 'business',
 'businessman',
 'bust',
 'busy',
 'butler',
 'buy',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'called',
 'calls',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candy',
 'cannibal',
 'capable',
 'capital',
 'capitalism',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'car',
 'caraccident',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'carefree',
 'caretaker',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrace',
 'carrie',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'caryelwes',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catch',
 'catches',
 'cateblanchett',
 'catherinedeneuve',
 'catherinekeener',
 'catherinezeta',
 'catholic',
 'catholicism',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'cavemen',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cell',
 'cellphone',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceo',
 'ceremony',
 'certain',
 'chad',
 'chain',
 'chainsaw',
 'challenge',
 'challenged',
 'challenges',
 'champion',
 'championship',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channingtatum',
 'chaos',
 'chaotic',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charismatic',
 'charles',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chased',
 'chauffeur',
 'cheating',
 'cheerleader',
 'chef',
 'chemical',
 'cher',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'chip',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chocolate',
 'choice',
 'choices',
 'choose',
 'chosen',
 'chris',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chrisklein',
 'chrispine',
 'chrisrock',
 'christ',
 'christian',
 'christianbale',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christine',
 'christmas',
 'christmasparty',
 'christmastree',
 'christopher',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplummer',
 'christopherwalken',
 'christophwaltz',
 'chronicle',
 'chronicles',
 'chuck',
 'church',
 'cia',
 'cigarettesmoking',
 'cillianmurphy',
 'cinema',
 'circle',
 'circuit',
 'circumstances',
 'circus',
 'cities',
 'citizens',
 'city',
 'civil',
 'civilization',
 'civilwar',
 'claim',
 'claims',
 'claire',
 'clairedanes',
 'clan',
 'clark',
 'clash',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'classroom',
 'claudevandamme',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'clients',
 'climate',
 'climbing',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'cloning',
 'close',
 'closer',
 'club',
 'clubs',
 'clues',
 'clutches',
 'coach',
 'coast',
 'cocaine',
 'code',
 'cody',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrell',
 'colinfirth',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'collector',
 'college',
 'collide',
 'collins',
 'collision',
 'colombia',
 'colonel',
 'colony',
 'color',
 'colorado',
 'colorful',
 'coma',
 'combat',
 'combination',
 'combined',
 'come',
 'comeback',
 'comedian',
 'comedic',
 'comedy',
 'comes',
 'comet',
 'comfort',
 'comic',
 'comics',
 'coming',
 'comingofage',
 'comingout',
 'command',
 'commander',
 'commercial',
 'commit',
 'commitment',
 'committed',
 'common',
 'communication',
 'communist',
 'community',
 'companion',
 'company',
 'compete',
 'competing',
 'competition',
 'competitive',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'composer',
 'computer',
 'computervirus',
 'conan',
 'concert',
 'conclusion',
 'condition',
 'conditions',
 'confession',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronted',
 'confused',
 'congress',
 'conman',
 'connected',
 'connection',
 'connell',
 'connor',
 'conquer',
 'conscience',
 'consequences',
 'conservative',
 'considered',
 'conspiracy',
 'constant',
 'constantly',
 'construction',
 'contact',
 'contain',
 'contemporary',
 'contend',
 'contest',
 'continue',
 'continues',
 'continuing',
 'contract',
 'control',
 'controlled',
 'controlling',
 'controversial',
 'convention',
 'converge',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cooking',
 'cool',
 'cooper',
 'cop',
 'cope',
 'cops',
 'core',
 'corner',
 'corners',
 'corporate',
 'corporation',
 'corpse',
 'corrupt',
 ...]

In [49]:
ps.stem('accepted')

'accept'

In [50]:
vector.shape

(4806, 5000)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
similarity = cosine_similarity(vector)

In [53]:
similarity

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

In [54]:
new[new['title'] == 'Spider-Man'].index[0]

159

In [55]:
similarity[new[new['title'] == 'Spider-Man'].index[0]]

array([0.06761234, 0.07071068, 0.03592106, ..., 0.        , 0.        ,
       0.        ])

In [56]:
sorted(list(enumerate(similarity[new[new['title'] == 'Spider-Man'].index[0]])), reverse=True, key=lambda x: x[1])

[(159, 1.0000000000000002),
 (5, 0.4480896268889632),
 (30, 0.4041451884327381),
 (38, 0.2976833630141003),
 (20, 0.2752988806446741),
 (1540, 0.24120907566221092),
 (1726, 0.22283440581246225),
 (1122, 0.1905158688831361),
 (511, 0.1889822365046136),
 (1194, 0.17457431218879393),
 (1299, 0.16012815380508716),
 (68, 0.15689290811054724),
 (2745, 0.15689290811054724),
 (1389, 0.1543033499620919),
 (4347, 0.15396007178390023),
 (420, 0.15249857033260467),
 (431, 0.15249857033260467),
 (572, 0.15118578920369088),
 (2817, 0.1485562705416415),
 (72, 0.1460593486680443),
 (618, 0.14586499149789456),
 (3955, 0.1455213750217998),
 (4660, 0.1455213750217998),
 (937, 0.14368424162141993),
 (3167, 0.14142135623730953),
 (232, 0.1414213562373095),
 (805, 0.1414213562373095),
 (1269, 0.1414213562373095),
 (101, 0.1392621247645583),
 (203, 0.1392621247645583),
 (126, 0.13719886811400706),
 (3267, 0.13719886811400706),
 (4078, 0.13719886811400706),
 (14, 0.13522468075656266),
 (2829, 0.13522468075656266),
 (3137, 0.13522468075656266),
 (1129, 0.1341640786499874),
 (1627, 0.1341640786499874),
 (2769, 0.1341640786499874),
 (4403, 0.1341640786499874),
 (2106, 0.1324532357065044),
 (174, 0.13151918984428584),
 (3781, 0.13093073414159545),
 (115, 0.12810252304406972),
 (2985, 0.12810252304406972),
 (4281, 0.1264911064067352),
 (4753, 0.1264911064067352),
 (1147, 0.12510864843424488),
 (2768, 0.12510864843424488),
 (129, 0.12493900951088487),
 (788, 0.12493900951088487),
 (1705, 0.12493900951088487),
 (4319, 0.12443420336765104),
 (3489, 0.12403473458920847),
 (79, 0.12344267996967354),
 (655, 0.12344267996967354),
 (1233, 0.12344267996967354),
 (2571, 0.12247448713915893),
 (2661, 0.12247448713915893),
 (1632, 0.12199885626608374),
 (813, 0.12060453783110546),
 (953, 0.12060453783110546),
 (2749, 0.12060453783110546),
 (2974, 0.12060453783110546),
 (292, 0.12000000000000002),
 (368, 0.12000000000000002),
 (1803, 0.12000000000000002),
 (7, 0.1192569587999888),
 (728, 0.1192569587999888),
 (3048, 0.1192569587999888),
 (3879, 0.1192569587999888),
 (3372, 0.11867816581938534),
 (94, 0.11766968108291043),
 (1363, 0.11766968108291043),
 (1658, 0.11766968108291043),
 (2396, 0.11766968108291043),
 (3834, 0.11766968108291043),
 (215, 0.11669199319831565),
 (1457, 0.11669199319831565),
 (4399, 0.11669199319831565),
 (197, 0.11547005383792518),
 (1444, 0.11547005383792518),
 (3111, 0.11547005383792518),
 (4405, 0.11547005383792518),
 (998, 0.11547005383792516),
 (1434, 0.11547005383792516),
 (2884, 0.11428571428571428),
 (31, 0.11338934190276817),
 (122, 0.11338934190276817),
 (931, 0.11338934190276817),
 (1854, 0.11338934190276817),
 (2574, 0.11338934190276817),
 (169, 0.1131370849898476),
 (2520, 0.1131370849898476),
 (242, 0.11141720290623112),
 (1822, 0.11094003924504584),
 (2480, 0.11094003924504584),
 (3988, 0.11094003924504584),
 (4637, 0.11094003924504584),
 (369, 0.10954451150103323),
 (1362, 0.10954451150103323),
 (3403, 0.10954451150103323),
 (3847, 0.10954451150103323),
 (63, 0.10886621079036347),
 (3635, 0.10787197799411874),
 (1746, 0.10776318121606496),
 (3935, 0.10776318121606496),
 (381, 0.10690449676496977),
 (1104, 0.10690449676496977),
 (2427, 0.10690449676496977),
 (2568, 0.10690449676496977),
 (4555, 0.10690449676496977),
 (4646, 0.10690449676496977),
 (4655, 0.10690449676496977),
 (198, 0.10606601717798213),
 (241, 0.10606601717798213),
 (294, 0.10606601717798213),
 (547, 0.10606601717798213),
 (859, 0.10606601717798213),
 (2196, 0.10606601717798213),
 (3186, 0.10606601717798213),
 (4037, 0.10606601717798213),
 (4039, 0.10606601717798213),
 (10, 0.10444659357341872),
 (46, 0.10444659357341872),
 (3053, 0.10444659357341872),
 (3222, 0.10444659357341872),
 (3387, 0.10444659357341872),
 (1139, 0.10327955589886445),
 (2339, 0.10327955589886445),
 (4346, 0.10327955589886445),
 (508, 0.10289915108550529),
 (3848, 0.10289915108550529),
 (4631, 0.10160010160015241),
 (26, 0.10141851056742199),
 (332, 0.10141851056742199),
 (339, 0.10141851056742199),
 (2983, 0.10141851056742199),
 (3220, 0.10141851056742199),
 (3498, 0.10141851056742199),
 (238, 0.10079052613579392),
 (37, 0.1),
 (131, 0.1),
 (208, 0.1),
 (2352, 0.1),
 (3452, 0.1),
 (3527, 0.1),
 (3925, 0.1),
 (4010, 0.1),
 (4061, 0.1),
 (4203, 0.1),
 (4548, 0.1),
 (4641, 0.1),
 (254, 0.09863939238321438),
 (503, 0.09863939238321438),
 (518, 0.09863939238321438),
 (1808, 0.09863939238321438),
 (1135, 0.09773555548504419),
 (2920, 0.09773555548504419),
 (3921, 0.09773555548504419),
 (16, 0.09733285267845754),
 (210, 0.09733285267845754),
 (1273, 0.09733285267845754),
 (4755, 0.09733285267845754),
 (205, 0.09701425001453319),
 (1939, 0.09701425001453319),
 (3155, 0.09701425001453319),
 (1367, 0.09607689228305229),
 (2723, 0.09607689228305229),
 (4450, 0.09607689228305229),
 (1578, 0.09561828874675149),
 (182, 0.09486832980505139),
 (2163, 0.09486832980505139),
 (2487, 0.09486832980505139),
 (4453, 0.09486832980505139),
 (4624, 0.09486832980505139),
 (624, 0.09428090415820635),
 (967, 0.09428090415820635),
 (3482, 0.09428090415820635),
 (2344, 0.09370425713316365),
 (2361, 0.09370425713316365),
 (423, 0.09258200997725516),
 (784, 0.09258200997725516),
 (1617, 0.09258200997725516),
 (2631, 0.09258200997725516),
 (627, 0.0917662935482247),
 (3384, 0.0917662935482247),
 (9, 0.0914991421995628),
 (674, 0.0914991421995628),
 (870, 0.0914991421995628),
 (15, 0.09045340337332909),
 (2006, 0.09045340337332909),
 (2035, 0.09045340337332909),
 (410, 0.0894427190999916),
 (520, 0.08944271909999159),
 (1292, 0.08944271909999159),
 (1524, 0.08944271909999159),
 (2244, 0.08944271909999159),
 (4030, 0.08944271909999159),
 (4443, 0.08944271909999159),
 (165, 0.08846517369293828),
 (262, 0.08846517369293828),
 (1938, 0.08846517369293828),
 (2056, 0.08846517369293828),
 (911, 0.08751899489873674),
 (2776, 0.08751899489873674),
 (3807, 0.08751899489873674),
 (505, 0.08728715609439697),
 (1520, 0.08728715609439697),
 (3055, 0.08728715609439697),
 (4122, 0.08728715609439697),
 (4544, 0.08728715609439697),
 (578, 0.08571428571428572),
 (61, 0.08528028654224418),
 (233, 0.08528028654224418),
 (319, 0.08528028654224418),
 (2078, 0.08528028654224418),
 (2761, 0.08528028654224418),
 (3133, 0.08528028654224418),
 (1459, 0.08485281374238571),
 (1924, 0.08485281374238571),
 (2372, 0.08485281374238571),
 (3828, 0.08485281374238571),
 (4480, 0.08485281374238571),
 (248, 0.08401680504168059),
 (33, 0.08340576562282992),
 (148, 0.08340576562282992),
 (237, 0.08340576562282992),
 (537, 0.08340576562282992),
 (668, 0.08340576562282992),
 (715, 0.08340576562282992),
 (1242, 0.08340576562282992),
 (1494, 0.08340576562282992),
 (2684, 0.08340576562282992),
 (3536, 0.08340576562282992),
 (3678, 0.08340576562282992),
 (4357, 0.08340576562282992),
 (4470, 0.08340576562282992),
 (864, 0.08320502943378438),
 (1396, 0.08320502943378438),
 (1767, 0.08320502943378438),
 (1848, 0.08320502943378438),
 (143, 0.08241633836921343),
 (1692, 0.08241633836921343),
 (2404, 0.08241633836921343),
 (2598, 0.08241633836921343),
 (2963, 0.08241633836921343),
 (742, 0.08164965809277262),
 (951, 0.08164965809277262),
 (1092, 0.08164965809277262),
 (1513, 0.08164965809277262),
 (1942, 0.08164965809277262),
 (1973, 0.08164965809277262),
 (2268, 0.08164965809277262),
 (2398, 0.08164965809277262),
 (2496, 0.08164965809277262),
 (2948, 0.08164965809277262),
 (3674, 0.08164965809277262),
 (3946, 0.08164965809277262),
 (777, 0.08164965809277261),
 (2822, 0.08164965809277261),
 (2998, 0.08122769321068954),
 (4237, 0.08090398349558905),
 (4513, 0.08090398349558905),
 (1754, 0.08017837257372733),
 (2428, 0.08017837257372733),
 (744, 0.08000000000000002),
 (2444, 0.08000000000000002),
 (2895, 0.08000000000000002),
 (3093, 0.08000000000000002),
 (4355, 0.08000000000000002),
 (4578, 0.08000000000000002),
 (654, 0.07947194142390264),
 (1282, 0.07947194142390264),
 (2367, 0.07947194142390264),
 (3486, 0.07947194142390263),
 (154, 0.07844645405527362),
 (711, 0.07844645405527362),
 (1060, 0.07844645405527362),
 (1756, 0.07844645405527362),
 (2120, 0.07844645405527362),
 (3611, 0.07844645405527362),
 (3987, 0.07844645405527362),
 (4404, 0.07844645405527362),
 (403, 0.07811334658849434),
 (1103, 0.07811334658849434),
 (1828, 0.07811334658849434),
 (2081, 0.07745966692414834),
 (2173, 0.07745966692414834),
 (195, 0.07698003589195011),
 (648, 0.07698003589195011),
 (1073, 0.07698003589195011),
 (1492, 0.07698003589195011),
 (4598, 0.07698003589195011),
 (1361, 0.0762000762001143),
 (12, 0.07559289460184544),
 (259, 0.07559289460184544),
 (922, 0.07559289460184544),
 (939, 0.07559289460184544),
 (1674, 0.07559289460184544),
 (2159, 0.07559289460184544),
 (2587, 0.07559289460184544),
 (2833, 0.07559289460184544),
 (3116, 0.07559289460184544),
 (3448, 0.07559289460184544),
 (3939, 0.07559289460184544),
 (4251, 0.07500000000000001),
 (1555, 0.07442084075352509),
 (64, 0.07427813527082075),
 (164, 0.07427813527082075),
 (678, 0.07427813527082075),
 (745, 0.07427813527082075),
 (1249, 0.07427813527082075),
 (1713, 0.07427813527082075),
 (2075, 0.07427813527082075),
 (2550, 0.07427813527082075),
 (2589, 0.07427813527082075),
 (2927, 0.07427813527082075),
 (3516, 0.07427813527082075),
 (84, 0.07385489458759964),
 (299, 0.07385489458759964),
 (1735, 0.07385489458759964),
 (2995, 0.07333587976225692),
 (50, 0.07302967433402215),
 (111, 0.07302967433402215),
 (844, 0.07302967433402215),
 (1982, 0.07302967433402215),
 (2141, 0.07302967433402215),
 (2189, 0.07302967433402215),
 (3059, 0.07302967433402215),
 (3449, 0.07302967433402215),
 (3926, 0.07302967433402215),
 (4164, 0.07302967433402215),
 (88, 0.07184212081070997),
 (121, 0.07184212081070997),
 (245, 0.07184212081070997),
 (315, 0.07184212081070997),
 (894, 0.07184212081070997),
 (926, 0.07184212081070997),
 (1196, 0.07184212081070997),
 (2169, 0.07184212081070997),
 (2285, 0.07184212081070997),
 (2330, 0.07184212081070997),
 (2576, 0.07184212081070997),
 (3445, 0.07184212081070997),
 (4499, 0.07184212081070997),
 (4726, 0.07184212081070997),
 (1, 0.07071067811865475),
 (96, 0.07071067811865475),
 (1098, 0.07071067811865475),
 (1113, 0.07071067811865475),
 (1142, 0.07071067811865475),
 (1354, 0.07071067811865475),
 (2304, 0.07071067811865475),
 (2544, 0.07071067811865475),
 (2794, 0.07071067811865475),
 (4168, 0.07071067811865475),
 (4636, 0.07071067811865475),
 (4657, 0.07071067811865475),
 (428, 0.07022468831767835),
 (39, 0.06963106238227915),
 (98, 0.06963106238227915),
 (196, 0.06963106238227915),
 (411, 0.06963106238227915),
 (641, 0.06963106238227915),
 (741, 0.06963106238227915),
 (786, 0.06963106238227915),
 (1032, 0.06963106238227915),
 (2175, 0.06963106238227915),
 (3005, 0.06963106238227915),
 (3008, 0.06963106238227915),
 (4543, 0.06963106238227915),
 (887, 0.06882472016116853),
 (2570, 0.06882472016116853),
 (127, 0.06882472016116851),
 (437, 0.06859943405700353),
 (597, 0.06859943405700353),
 (746, 0.06859943405700353),
 (1182, 0.06859943405700353),
 (1344, 0.06859943405700353),
 (1983, 0.06859943405700353),
 (2243, 0.06859943405700353),
 (2686, 0.06859943405700353),
 (2815, 0.06859943405700353),
 (3386, 0.06859943405700353),
 (3410, 0.06859943405700353),
 (3526, 0.06859943405700353),
 (3602, 0.06859943405700353),
 (0, 0.06761234037828133),
 (603, 0.06761234037828133),
 (1195, 0.06761234037828133),
 (1416, 0.06761234037828133),
 (1906, 0.06761234037828133),
 (2013, 0.06761234037828133),
 (2128, 0.06761234037828133),
 (2208, 0.06761234037828133),
 (2964, 0.06761234037828133),
 (1836, 0.06750527405556145),
 (3739, 0.0670820393249937),
 (187, 0.06666666666666667),
 (330, 0.06666666666666667),
 (390, 0.06666666666666667),
 (472, 0.06666666666666667),
 (817, 0.06666666666666667),
 (1799, 0.06666666666666667),
 (1945, 0.06666666666666667),
 (3741, 0.06666666666666667),
 (3790, 0.06666666666666667),
 (3804, 0.06666666666666667),
 (4602, 0.06666666666666667),
 (322, 0.06575959492214292),
 (329, 0.06575959492214292),
 (413, 0.06575959492214292),
 (471, 0.06575959492214292),
 (1302, 0.06575959492214292),
 (1511, 0.06575959492214292),
 (3270, 0.06575959492214292),
 (3470, 0.06575959492214292),
 (3852, 0.06575959492214292),
 (1059, 0.06507913734559685),
 (71, 0.06488856845230502),
 (138, 0.06488856845230502),
 (350, 0.06488856845230502),
 (677, 0.06488856845230502),
 (988, 0.06488856845230502),
 (1454, 0.06488856845230502),
 (1625, 0.06488856845230502),
 (1740, 0.06488856845230502),
 (2366, 0.06488856845230502),
 (2436, 0.06488856845230502),
 (3191, 0.06488856845230502),
 (3750, 0.06488856845230502),
 (4055, 0.06488856845230502),
 (2049, 0.0643267520902677),
 (659, 0.06405126152203486),
 (1297, 0.06405126152203486),
 (1643, 0.06405126152203486),
 (1847, 0.06405126152203486),
 (2029, 0.06405126152203486),
 (2464, 0.06405126152203486),
 (2592, 0.06405126152203486),
 (3485, 0.06405126152203486),
 (168, 0.0632455532033676),
 (1733, 0.0632455532033676),
 (2007, 0.0632455532033676),
 (2080, 0.0632455532033676),
 (2340, 0.0632455532033676),
 (3432, 0.0632455532033676),
 (3595, 0.0632455532033676),
 (3720, 0.0632455532033676),
 (3726, 0.0632455532033676),
 (3783, 0.0632455532033676),
 (4284, 0.0632455532033676),
 (4488, 0.0632455532033676),
 (4621, 0.0632455532033676),
 (85, 0.0628970902033151),
 (113, 0.06246950475544243),
 (114, 0.06246950475544243),
 (451, 0.06246950475544243),
 (732, 0.06246950475544243),
 (1038, 0.06246950475544243),
 (1319, 0.06246950475544243),
 (2440, 0.06246950475544243),
 (2756, 0.06246950475544243),
 (2771, 0.06246950475544243),
 (2956, 0.06246950475544243),
 (3907, 0.06246950475544243),
 (4080, 0.06246950475544243),
 (307, 0.061885274775527604),
 (76, 0.06172133998483677),
 (311, 0.06172133998483677),
 (394, 0.06172133998483677),
 (523, 0.06172133998483677),
 (543, 0.06172133998483677),
 (583, 0.06172133998483677),
 (932, 0.06172133998483677),
 (1118, 0.06172133998483677),
 (1267, 0.06172133998483677),
 (1325, 0.06172133998483677),
 (1533, 0.06172133998483677),
 (2096, 0.06172133998483677),
 (2363, 0.06172133998483677),
 (2916, 0.06172133998483677),
 (3825, 0.06172133998483677),
 (80, 0.061237243569579464),
 (743, 0.06099942813304187),
 (918, 0.06099942813304187),
 (2215, 0.06099942813304187),
 (2272, 0.06099942813304187),
 (3184, 0.06099942813304187),
 (3188, 0.06099942813304187),
 (584, 0.06030226891555273),
 (1003, 0.06030226891555273),
 (1272, 0.06030226891555273),
 (1276, 0.06030226891555273),
 (1446, 0.06030226891555273),
 (3025, 0.06030226891555273),
 (3049, 0.06030226891555273),
 (3888, 0.06030226891555273),
 (4050, 0.06030226891555273),
 (2349, 0.05970223141259935),
 (767, 0.0596284793999944),
 (831, 0.0596284793999944),
 (2358, 0.0596284793999944),
 (3407, 0.0596284793999944),
 (243, 0.05897678246195886),
 (1340, 0.05897678246195886),
 (1604, 0.05897678246195886),
 (1701, 0.05897678246195886),
 (1831, 0.05897678246195886),
 (1996, 0.05897678246195886),
 (4180, 0.05897678246195886),
 (53, 0.058345996599157825),
 (273, 0.058345996599157825),
 (470, 0.058345996599157825),
 (589, 0.058345996599157825),
 (2547, 0.058345996599157825),
 (3371, 0.058345996599157825),
 (3631, 0.058345996599157825),
 (41, 0.05773502691896259),
 (119, 0.05773502691896259),
 (442, 0.05773502691896259),
 (1590, 0.05773502691896259),
 (2315, 0.05773502691896259),
 (2529, 0.05773502691896259),
 (3154, 0.05773502691896259),
 (3703, 0.05773502691896259),
 (4279, 0.05773502691896259),
 (2026, 0.05746957711326908),
 (2832, 0.057207755354735546),
 (596, 0.05714285714285714),
 (1445, 0.05714285714285714),
 (1455, 0.05714285714285714),
 (3333, 0.05714285714285714),
 (3737, 0.05714285714285714),
 (4483, 0.05714285714285714),
 (609, 0.0565685424949238),
 (1043, 0.0565685424949238),
 (2105, 0.0565685424949238),
 (2411, 0.0565685424949238),
 (3815, 0.0565685424949238),
 (58, 0.05601120336112039),
 (396, 0.05601120336112039),
 (2758, 0.05601120336112039),
 (4384, 0.05601120336112039),
 (199, 0.05547001962252292),
 (258, 0.05547001962252292),
 (469, 0.05547001962252292),
 (1673, 0.05547001962252292),
 (2133, 0.05547001962252292),
 (2274, 0.05547001962252292),
 (2856, 0.05547001962252292),
 (2999, 0.05547001962252292),
 (3063, 0.05547001962252292),
 (3269, 0.05547001962252292),
 (3728, 0.05547001962252292),
 (3949, 0.05547001962252292),
 (3978, 0.05547001962252292),
 (4261, 0.05547001962252292),
 (4348, 0.05547001962252292),
 (4353, 0.05547001962252292),
 (4457, 0.05547001962252292),
 (4502, 0.05547001962252292),
 (217, 0.05494422557947562),
 (718, 0.05494422557947562),
 (1030, 0.05494422557947562),
 (1677, 0.05494422557947562),
 (1777, 0.05494422557947562),
 (1874, 0.05494422557947562),
 (4340, 0.05494422557947562),
 (107, 0.05443310539518174),
 (170, 0.05443310539518174),
 (541, 0.05443310539518174),
 (1456, 0.05443310539518174),
 (1775, 0.05443310539518174),
 (2575, 0.05443310539518174),
 (3000, 0.05443310539518174),
 (3033, 0.05443310539518174),
 (4096, 0.05443310539518174),
 (4780, 0.05443310539518174),
 (32, 0.05393598899705937),
 (252, 0.05393598899705937),
 (467, 0.05393598899705937),
 (586, 0.05393598899705937),
 (1931, 0.05393598899705937),
 (2422, 0.05393598899705937),
 (3618, 0.05393598899705937),
 (48, 0.053452248382484885),
 (774, 0.053452248382484885),
 (836, 0.053452248382484885),
 (1382, 0.053452248382484885),
 (1845, 0.053452248382484885),
 (1890, 0.053452248382484885),
 (1984, 0.053452248382484885),
 (2439, 0.053452248382484885),
 (2608, 0.053452248382484885),
 (2647, 0.053452248382484885),
 (3130, 0.053452248382484885),
 (3146, 0.053452248382484885),
 (3159, 0.053452248382484885),
 (3363, 0.053452248382484885),
 (3854, 0.053452248382484885),
 (4542, 0.053452248382484885),
 (4564, 0.053452248382484885),
 (4643, 0.053452248382484885),
 (4737, 0.053452248382484885),
 (710, 0.05298129428260176),
 (103, 0.05252257314388902),
 (3522, 0.05252257314388902),
 (3599, 0.05252257314388902),
 (253, 0.052075564392329556),
 (277, 0.052075564392329556),
 (501, 0.052075564392329556),
 (1346, 0.052075564392329556),
 (3576, 0.052075564392329556),
 (4048, 0.052075564392329556),
 (4162, 0.052075564392329556),
 (19, 0.051639777949432225),
 (213, 0.051639777949432225),
 (768, 0.051639777949432225),
 (949, 0.051639777949432225),
 (1308, 0.051639777949432225),
 (1376, 0.051639777949432225),
 (1437, 0.051639777949432225),
 (2061, 0.051639777949432225),
 (2250, 0.051639777949432225),
 (2332, 0.051639777949432225),
 (3218, 0.051639777949432225),
 (3564, 0.051639777949432225),
 (3613, 0.051639777949432225),
 (3731, 0.051639777949432225),
 (3758, 0.051639777949432225),
 (3985, 0.051639777949432225),
 (4165, 0.051639777949432225),
 (4171, 0.051639777949432225),
 (4365, 0.051639777949432225),
 (4492, 0.051639777949432225),
 (4607, 0.051639777949432225),
 (4794, 0.051639777949432225),
 (139, 0.05121475197315839),
 (1898, 0.05121475197315839),
 (3228, 0.05121475197315839),
 (3617, 0.05121475197315839),
 (3212, 0.050891335780798255),
 (17, 0.050800050800076206),
 (1639, 0.050800050800076206),
 (3862, 0.050800050800076206),
 (1120, 0.05039526306789696),
 (1529, 0.05039526306789696),
 (2307, 0.05039526306789696),
 (3078, 0.05039526306789696),
 (3913, 0.05039526306789696),
 (4466, 0.05039526306789696),
 (218, 0.05),
 (534, 0.05),
 (661, 0.05),
 (776, 0.05),
 (866, 0.05),
 (1270, 0.05),
 (1360, 0.05),
 (1575, 0.05),
 (1621, 0.05),
 (1909, 0.05),
 (1943, 0.05),
 (2043, 0.05),
 (2780, 0.05),
 (3303, 0.05),
 (3528, 0.05),
 (65, 0.04961389383568339),
 (190, 0.04961389383568339),
 (4613, 0.04961389383568339),
 (1190, 0.04923659639173309),
 (2549, 0.04923659639173309),
 (44, 0.048507125007266595),
 (62, 0.048507125007266595),
 (151, 0.048507125007266595),
 (391, 0.048507125007266595),
 (653, 0.048507125007266595),
 (808, 0.048507125007266595),
 (850, 0.048507125007266595),
 (1197, 0.048507125007266595),
 (1209, 0.048507125007266595),
 (1323, 0.048507125007266595),
 (1664, 0.048507125007266595),
 (2297, 0.048507125007266595),
 (2326, 0.048507125007266595),
 (2435, 0.048507125007266595),
 (2789, 0.048507125007266595),
 (2830, 0.048507125007266595),

In [57]:
sorted(list(enumerate(similarity[new[new['title'] == 'Spider-Man'].index[0]])), reverse=True, key=lambda x: x[1])[1:6]

[(5, 0.4480896268889632),
 (30, 0.4041451884327381),
 (38, 0.2976833630141003),
 (20, 0.2752988806446741),
 (1540, 0.24120907566221092)]

In [58]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [59]:
recommend('Superman Returns')

Superman II
Superman III
Superman IV: The Quest for Peace
Superman
Man of Steel

In [60]:
import pickle

In [61]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [62]:
from fuzzywuzzy import fuzz
def fuzzy_matching(movies, movie_name):
    match_tuple = []
    for title in movies:
        ratio = fuzz.ratio(title.lower(), movie_name.lower())
        if ratio >= 79:
            match_tuple.append((title, ratio))

    match_tuple = sorted(match_tuple, key=lambda x: x[1])[::-1]
    return match_tuple

In [63]:
fuzzy_matching(movies['title'].tolist(), 'Spider-Man')

[('Spider-Man', 100), ('Spider-Man 2', 91), ('Spider-Man 3', 91)]